# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

### Some of the commonly used libraries by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow

| Data Science Tools   |
|----------------------|
| Jupyter Notebooks    |
| RStudio              |
| VSCode with Python   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply 3 by 4 and then add 5.
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Highlight commonly used libraries in data science.
- Introduce popular tools for Data Science development environments.
- Demonstrate the evaluation of arithmetic expressions in Python.
- Illustrate the conversion of minutes to hours using Python.

## Author
Glenn Monish